button:focus {
  outline: 0;
}

button:hover {
  background-color: darkgrey;
}

.titles {
  color: darkblue;
}

.sortTitle {
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none;
}

.sortTitle:hover {
  cursor: pointer;
  color: blue;
}

.sortArrows {
  font-size: 12px;
  vertical-align: middle;
}

.cheap {
  text-shadow: 1px 1px #ccc545;
}

.expensive {
  text-shadow: 1px 1px #ff6666;
}

p {
  font-size: 16px;
  margin-bottom: 0px;
}

.bold {
  font-weight: bold;
}

.kegTile {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
