button:focus {
  outline: 0;
}

button:hover {
  background-color: darkgrey;
}

.sortTitle {
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none;
}

.sortTitle:hover {
  cursor: pointer;
  color: darkblue;
}

.sortArrows {
  font-size: 12px;
  vertical-align: middle;
}

#editPints {
  width: 42px;
}

.cheap {
  background-color: yellow;
}

.expensive {
  background-color: red;
}

p {
  font-size: 16px;
  margin-bottom: 0px;
}

.bold {
  font-weight: bold;
}
