button:focus {
  outline: 0;
}

button:hover {
  background-color: darkgrey;
}

#editPints {
  width: 42px;
}

.cheap {
  background-color: yellow;
}

.expensive {
  background-color: red;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}
